@font-face {
  font-family: 'Outfit';
  src: url('static/fonts/Outfit.ttf') format('truetype');
  font-variation-settings: 'wght' 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Outfit';
  font-size: 15px;
}

body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card {
  background-color: hsl(0, 0%, 100%);
  max-width: 300px;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
}

.qr-card img {
  max-width: 100%;
  border-radius: 0.5rem;
}

.qr-card--content {
  padding: 0 1.2rem;
}

.qr-card--title {
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: 0.01ch;
  word-spacing: 0.125ch;
}

.qr-card--description {
  font-size: 0.9rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding-bottom: 0.5rem;
}
