@font-face {
  font-family: 'Outfit';
  src: url('static/fonts/Outfit.ttf') format('truetype');
  font-variation-settings: 'wght' 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Outfit';
}
