@font-face {
  font-family: 'Outfit';
  src: url('static/fonts/Outfit.ttf') format('truetype');
  font-variation-settings: 'wght' 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Outfit';
  font-size: 15px;
}

body {
  margin: 0;
  background-color: hsl(212, 45%, 89%);
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card {
  background-color: hsl(0, 0%, 100%);
  max-width: 320px;
  min-height: 500px;
  padding: 1rem;
}

.qr-card img {
  max-width: 100%;
}
